body {
  color: black;
  background-color: white;
  font-family: "times new roman", times, roman, serif;
  font-size: 12pt;
  margin: 0;
  padding: 0;
}

acronym, .titleTip {
  font-style: italic;
  border-bottom: none;
}

acronym:after, .titleTip:after {  /* Prints titles after the acronyms/titletips. Doesn't work in MSIE */
  content: "(" attr(title) ")";
  font-size: 90%;
  font-style: normal;
  padding-left: 1ex;
}

.doNotPrint {
  display: none !important;
}

#header {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

#header h1 {
  font-size: 200%;
  margin: 0;
  padding: 0 0 0.5ex 0;
}

#header a {
  color: black;
  background-color: transparent;
  font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
  font-weight: normal;
  text-decoration: none;
}

#site-meta, #menu, #navigation, #extra, #footerleft, #footerright, #comments-form, #respond, #trackbacks, .comments-header, .navigation, .postmeta a, .akst_link, .avatar {
	display: none;
}

#lb-content {
  text-align: justify;
  margin: 0;
  padding: 0;
}

#lb-content h3 {
  font-family: "trebuchet ms", verdana, helvetica, arial, sans-serif;
  font-size: 120%;
  margin: 2ex 0 1ex 0;
  padding: 0;
}

#lb-content a {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

#lb-content a:after {  /* Prints the links' URIs after the links' texts. Doesn't work in MSIE */
  content: "<" attr(href) ">";
  font-size: 90%;
  padding-left: 1ex;
}

.postinfo a:after {
	content: none;
}

.comment-author {
	text-decoration: underline;
	clear: both;
}

.comment-author a:after {
	content: none;
}

p {
  margin: 0 0 2ex 0;
  padding: 0;
}