#wrapper{float:right;width:100%;margin-left:-200px}
#lb-content{margin-left:200px}
#primarysb{float:left;width:200px}
#secondarysb{float:left;clear:left;width:200px}
#footer{clear:both;width:100%}