#wrapper{float:left;width:100%;margin-left:-200px}
#lb-content{margin-left:200px}
#primarysb{float:right;width:200px}
#secondarysb{float:right;clear:right;width:200px}
#footer{clear:both;width:100%}