html,body{margin:0;padding:0}
body{font: 85% arial,sans-serif}

div#content p{line-height:1.4}

div#navigation{float:left;width:50%}
div#extra{float:left;width:49.9%}
div#footer{clear:left;width:100%}
