html,body{margin:0;padding:0}
body{font: 76% arial,sans-serif;text-align:center}
p{margin:0 10px 10px}
div#container{text-align:left}
div#content p{line-height:1.4}

div#container{width:700px;margin:0 auto}
div#navigation{float:right;width:350px}
div#extra{float:left;width:350px}
div#footer{clear:both;width:100%}
