div#wrapper{float:left;width:100%;margin-left:-33%}
div#lb-content{margin-left:33%}
div#navigation{float:right;width:32.9%}
div#extra{float:right;clear:right;width:32.9%}
div#footer{clear:both;width:100%}