html,body{margin:0;padding:0}
body{font: 85% arial,sans-serif;text-align:center}

div#container{text-align:left}
div#content p{line-height:1.4}

div#container{width:700px;margin:0 auto}
div#content{float:left;width:500px}
div#navigation{float:right;width:200px}
div#extra{float:right;clear:right;width:200px}
div#footer{clear:both;width:100%}
