html,body{margin:0;padding:0}
body{font: 85% arial,sans-serif}
p{margin:0 10px 10px}


div#content p{line-height:1.4}

div#footer p{margin:0;padding:5px 10px}

div#wrapper{float:right;width:100%;margin-right:-33%}
div#content{margin-right:33%}
div#navigation{float:left;width:32.9%}
div#extra{float:left;clear:left;width:32.9%}
div#footer{clear:both;width:100%}