#container{width:960px;margin:0 auto}
div#wrapper{float:left;width:100%}
#lb-content{margin-right: 300px}
#primarysb{float:left;width:150px;margin-left:-300px}
#secondarysb{float:left;width:150px;margin-left:-150px}
#footer{clear:left;width:100%}
