div#wrapper{float:left;width:100%;margin-left:-25%}
#lb-content{margin: 0 200px 0 25%}
#primarysb{float:left;width:200px;margin-left:-200px}
#secondarysb{float:left;width:25%}
#footer{clear:left;width:100%}