div#container{width:960px;margin:0 auto}
div#wrapper{float:left;width:100%}
div#lb-content{margin-right: 300px}
div#primarysb{float:left;width:150px;margin-left:-300px}
div#secondarysb{float:left;width:150px;margin-left:-150px}
div#footer{clear:left;width:100%}
