div#container{width:800px;margin:0 auto}
div#wrapper{float:left;width:100%}
div#lb-content{margin-right: 300px}
div#navigation{float:left;width:150px;margin-left:-150px}
div#extra{float:left;width:150px;margin-left:-300px}
div#footer{clear:left;width:100%}