html,body{margin:0;padding:0}
body{font: 85% arial,sans-serif;text-align:center}



div#container{text-align:left}
div#content p{line-height:1.4}

div#footer p{margin:0;padding:5px 10px}

div#container{width:700px;margin:0 auto}
div#wrapper{float:left;width:100%}
div#content{margin-left: 300px}
div#navigation{float:left;width:150px;margin-left:-700px}
div#extra{float:left;width:150px;margin-left:-550px}
div#footer{clear:left;width:100%}