div#wrapper{float:left;width:100%}
div#content{margin-left: 50%}
div#navigation{float:left;width:25%;margin-left:-75%}
div#extra{float:left;width:25%;margin-left:-100%}
div#footer{clear:left;width:100%}
