div#wrapper{float:left;width:100%}
div#lb-content{margin-right: 50%}
div#primarysb{float:left;width:25%;margin-left:-50%}
div#secondarysb{float:left;width:25%;margin-left:-25%}
div#footer{clear:left;width:100%}
