html,body{margin:0;padding:0}
body{font: 85% arial,sans-serif}



div#content p{line-height:1.4}

div#footer p{margin:0;padding:5px 10px}

div#wrapper{float:left;width:100%}
div#content{margin-right: 400px}
div#navigation{float:left;width:200px;margin-left:-400px}
div#extra{float:left;width:200px;margin-left:-200px}
div#footer{clear:left;width:100%}