div#wrapper{float:left;width:100%}
div#content{margin: 0 200px}
div#navigation{float:left;width:200px;margin-left:-200px}
div#extra{float:left;width:200px;margin-left:-100%}
div#footer{clear:left;width:100%}