div#wrapper{float:left;width:100%}
div#lb-content{margin: 0 200px}
div#primarysb{float:left;width:200px;margin-left:-100%}
div#secondarysb{float:left;width:200px;margin-left:-200px}
div#footer{clear:left;width:100%}