div#wrapper{float:left;width:100%}
div#lb-content{margin: 0 33% 0 200px}
div#primarysb{float:left;width:200px;margin-left:-100%}
div#secondarysb{float:left;width:33%;margin-left:-33%}
div#footer{clear:left;width:100%}