/* @group Top-Level elements */
html,body{margin:0;padding:0}

div#container {
	width: 100%;
}

div#header {	
	background: #ccc url(ahdc/phillyskyline2.jpg) no-repeat 0 center;
	height: 200px;
	width: 927px;
	overflow: auto;
	margin: 0 auto;
	border-bottom: 1px solid #000;
}

div#allwrapper{
	width: 927px;
	overflow: auto;
	margin: 0 auto;
}

div#menuwrap {
	width: 100%;
}

ul#menu {
	width: 927px;
	margin: 0 auto;
	float: none;
}

div#content{
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 300px;
}

div#bigbar {
	float: left;
	margin-left: -300px;
	width: 300px;
}

div#bigbar > div#navigation, div#bigbar > div#extra{
	width: 149px;
	margin-left: 0px;
}

div#footerwrapper {
	width: 927px;
	margin: 0 auto;
}

div#footerright {
	float: left;
	text-align: left;
}

/* @end */

/* @group Header elements */

div#header h1 {
	margin: 0 auto;
	font-size: 3.5em;
	font-weight: bold;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-right: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
}

div#header h1 a:link, div#header h1 a:visited {
	color: #f00;
	text-decoration: none;
}

div#header h1 a:active, div#header h1 a:hover {
	text-decoration: underline;
}

div#header .description {
	display: none;
}
/* @end */

/* @group Post elements */

.wppost h3, h3.archives {
	font-size: 2.5em;
}

/* @end */

#calendar_wrap {
	border-top: 1px solid #000;
}

a {
	color: #f00;
}

a:link, a:visited {
	text-decoration: none;
}

a:active, a:hover {
	text-decoration: underline;
}

#navigation > ul > li, #extra > ul > li {
	border-top: 1px solid #000;
}

.post_header_img {
	clear: both;
	margin: 0 auto;
}
.now-reading img {
	border: 1px solid #ccc;
	padding: 4px;
}

#wp-calendar {
	width: 95%;
	margin: 0 auto;
}
