/*
	StyleName: Elbee Elgee Black and White
	StyleAuthor: Doug Stewart
	StyleAuthorURL: http://literalbarrage.org/blog/
	StyleDescription: A high contrast style.
	Version: 1
*/

/* @group Top-level containers */

html,body{margin:0;padding:0}

body {
	color: #111;
	background-color: #ddd;
}

#container{
	background: #fff;
	border: 0px;
	width: 927px;
	margin: 0 auto;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

#header {
	height: 86px;
	background: #fff url(blacknwhite/lblogo-gray.png) top left no-repeat;
}

div#content {
	padding-left: 20px;
	margin-right: 300px;
}

#menu {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	position: relative;
	vertical-align: bottom;
	background-color: #3c3c3c;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}

div#wrapper {
	min-width: 800px;
	max-width: 925px;
}

div#navigation, div#extra {
        font-size: 85%;
        width: 150px;
}

div#navigation {
        margin-left: -300px;
}

div#extra {
        margin-left: -150px;
}

div#footer {
	background-color: #3c3c3c;
	color: #fff;
	border-top: 1px solid #000;
}

#footerwrapper{
	width: 800px;
	margin: 0 auto;
}

/* @end */

/* @group Header styles */
#header h1 {
	display: none;
}

#header .description {
	float: right;
	background: transparent url('blacknwhite/posterbanner2.jpg') right top no-repeat;
	width: 131px;
	height: 86px;
	margin: 0;
}

#header .description span{
	display: none;
}

#header h1 a, #header h1 a:visited {
	text-decoration: none;
	color: #111;
}

/* @end */

/* @group Menu styles */

#menu li {
	display: inline;
	margin: 0;
	padding: 0;
}

#menu a:link, #menu a:visited {
	padding: 10px 10px 4px 10px;
	float: left;
	width: auto;
	text-decoration: none;
	font:bold 1em/1em Arial, Helvetica, sans-serif;
	margin-right: 5px;
}

#menu li:first-child a {
	margin-left: 5px;
}

.current_page_item a {
	color: #000 !important;
 	background:#fff !important;
}

.page_item a:link, .page_item a:visited {
	color:#fff;
	background: transparent;	
}

.page_item a:active, .page_item a:hover, .current_page_item a:active, .current_page_item a:hover{
	color: #0971B3;
	background-color: #fff;
	text-decoration: none;
}

/* @end */

#searchform input {
	width: 130px;
}

/* @group Content styles */

/* @group Comment Styles */

#comments li{
	padding: 5px;
	border-bottom: 1px solid #3c3c3c;
}

#comments li:first-child{
	border-top: 1px solid #3c3c3c;
}

#comments li.odd{
	background-color: #eee;
}

#comments li.highlight{
	background-color: #b6cddd;
}

.comment-meta{
	font-size: 80%;
	text-align: left;
	margin-left: 5px;
	padding-top: 1.22em;
}

#comments div.comment-text > ol > li{
	border:  0px;
}
/* @end */

/* @group Post Styles */

.wppost h3, h3.archives {
	font-size: 180%;
	color: #0971B3;
	/* "Times New Roman", Times, serif;*/
}

.wppost {
	width: 95%;
	margin-bottom: 3em;
	margin-top: 1em;
}

.postinfo{
	background-color: #eee;
	border-top: 1px solid #3c3c3c;
	padding: 5px;
	padding-left: 10px;
}

.wppost blockquote{
	background-color: #f5f5f5;
	border-left: 2px solid #0971B3;
	padding: 5px;
	padding-left: 10px;
}
/* @end */

/* @end */

/* @group Link styles */

a {
	color: #0971B3;
}

a:link, a:visited{
	text-decoration: none;
}

a:active, a:hover{
	text-decoration: underline;
}

#footer a {
	color: #098ade;
}

#footer h2 a.rssfeed{
	color: #fff;
}
/* @end */

/* @group Footer Styles */



/* @end */




