/*
	StyleName: Elbee Elgee Black and White
	StyleAuthor: Doug Stewart
	StyleAuthorURL: http://literalbarrage.org/blog/
	StyleDescription: A high contrast style.
	Version: 1
*/

/* @group Top-level containers */

html,body{margin:0;padding:0}

body {
	background-color: #eee;
	color: #111;
}

#container{
	background: #fff;
	border: 0px;
}

#header {
	height: 86px;
	background: #fff url(blacknwhite/lb-logo-bnw.png) top left no-repeat;
}

div#content {
	padding-left: 20px;
	margin-right: 300px;
}

#menu {
	margin: 0;
	padding: 0;
	float: left;
	width: 100%;
	position: relative;
	vertical-align: bottom;
	background-color: #000;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}

div#wrapper {
	width: 800px;
}

div#navigation, div#extra {
        font-size: 85%;
        width: 150px;
}

div#navigation {
        margin-left: -300px;
}

div#extra {
        margin-left: -150px;
}

div#footer {
	width: 800px;
	margin: 0 auto;
}

/* @end */

/* @group Header styles */
#header h1 {
	display: none;
}

#header .description {
	float: right;
	background: transparent url('blacknwhite/posterbanner.jpg') right top no-repeat;
	width: 131px;
	height: 86px;
	margin: 0;
}

#header .description span{
	display: none;
}

#header h1 a, #header h1 a:visited {
	text-decoration: none;
	color: #111;
}

/* @end */

/* @group Menu styles */

#menu li {
	display: inline;
	margin: 0;
	padding: 0;
}

#menu a:link, #menu a:visited {
	padding: 10px 10px 4px 10px;
	float: left;
	width: auto;
	text-decoration: none;
	font:bold 1em/1em Arial, Helvetica, sans-serif;
	margin-right: 5px;
}

#menu li:first-child a {
	margin-left: 5px;
}

.current_page_item a {
	color: #000 !important;
 	background:#fff !important;
}

.page_item a {
	color:#fff;
	background: transparent;	
}

/* @end */

#searchform input {
	width: 130px;
}

/* @group Content styles */

.wppost {
	width: 95%;
	margin-bottom: 3em;
	margin-top: 1em;
}

.wppost h3 {
	font-size: 180%;
	/* "Times New Roman", Times, serif;*/
}

/* @end */



