body {
	background-color: #000;
}

#container {
	/*border: 1px solid #ccc;*/
	border: 2px solid #561420;
	background-color: #fcfcfc;
	color: #333;
}

#header {
	background: #333;
	color: #C59A6F;
	height: 180px;
	border-bottom: 2px solid #561420;
}

#menu {
	background: #821122;
	border-bottom: 2px solid #561420;
}

#menu ul li a:link {
	border-right: 1px solid #561420;
}