#header {
	background: url('helpus/helpus-small.jpg') top center no-repeat;
	height: 247px;
}

#header h1 {
        font: 230% "Times New Roman", Times, serif;
        margin-top: 0px;
        padding-top: 150px;
        padding-left: 10px;
	color: #ca1919;
}

#header .description {

	padding-left: 10px;
}

