div#header{background:#bbb;}
div#header h1 a{margin:0;padding-left:10px;background: #ddd;color: #79B30B;}
div#header a{color: #79B30B}
div#primarysb{background:#B9CAFF}
div#secondarysb{background:#FF8539}
div#footer{background: #333;color: #FFF}
div#footer p{margin:0;padding:5px 10px}
div#footer a{display:inline;padding:0;color: #C6D5FD}
