/*
 @group Page-wide defaults
*/
body{
	background-color: #efefef;
}

a:link, a:visited{
	color: #ab3b00;
	text-decoration: none;
}

a:active, a:hover{
	text-decoration: underline;
}

.startTranslucent {
	background:rgb(0,0,0);
	background:rgba(0,0,0,0.5);
	-ms-filter:alpha(opacity=50);
	filter:alpha(opacity=50)
}

.stopTranslucent{
	position: relative;
}

/* @end */

div#container {
	border: 1px solid #d3cccc;
}

/* @group Header Elements */
div#header {
	height: 200px;
}

div#titledesc {
	width: 50%;
	height: 100%;
	vertical-align: bottom;
	background:rgb(0,0,0);
	background:rgba(0,0,0,0.5);
	-ms-filter:alpha(opacity=50);
	filter:alpha(opacity=50)
}

#header h1, #header p.blogtitle{
	font-size: 3.5em;
	font-weight: bold;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding-top: 0.5em;
}

#header h1 a:link, #header h1 a:visited, #header p.blogtitle a:link, #header p.blogtitle a:visited {
	/*color: #02af97;*/
	color: #fff;
	text-decoration: none;
	vertical-align: baseline;
	text-shadow: #000 2px 2px 1px;
}

#header h1 a:hover, #header h1 a:active{
}

#blogtitle{
	width: 50%;
}

#header p.description {
	font-style: italic;
	font-size: 1.2em;
	margin-left: 1.5em;
	color: #eee;
}

/* @end */

/* @group Menu Elements */
div#menu, div.menu {
	/*border-color: #d3cccc;
	border-style: solid;
	border-width: 1px 1px 0 1px; */
	background-color: #3c3c3c;
	width: 100%;
	margin: 0 auto;
	float: none;
}

#menu > ul > li > a:link, #menu > ul > li > a:visited,
div.menu > ul > li > a:link, div.menu > ul > li > a:visited {
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	margin-right: 5px;
	font-weight: bold;
}

#menu > ul > li > a:active, #menu > ul > li > a:hover,
div.menu > ul > li > a:active, div.menu > ul > li > a:hover {
	background: #fff;
	color: #0971B3;

}

#menu li.current_page_item {
	background: #fff;
}

#menu li.current_page_item a:link, #menu li.current_page_item a:visited {
	color: #000;
}

/* @end */

/* @group Wrapper Elements */
div#allwrapper {
	margin: 0 auto;
	overflow: auto;
	width: 940px;
	background-color: #fff;
	/*border: 1px solid #d3cccc;*/
	border-bottom-style: none;
	padding: 10px;
}

div#wrapper {
	
}

/* @end */

/* @group Content Elements */
#lb-content{
	
}

body.home-page #lb-content h2 a, body.single #lb-content h1, body.page #lb-content h1{
	font-size: 2em;
	font-weight: bold;
	padding-top: 1em;
	margin-top: 1em;
}

#lb-content p, span.postmeta  {
	padding-bottom: 0.7em
}

#lb-content div.post {
	margin-bottom: 1em;
}
/* @end */

/* @group Sidebar Elements */
#primarysb > ul > li, #secondarysb > ul > li,
#footerleft > ul > li, #footerright > ul > li {
	border: 3px solid #eee;
	padding: 4px;
	margin:4px;
	overflow: auto;
}

#primarysb h4, #secondarysb h4,
#footerleft h4, #footerright h4 {
	background-color: #333;
	width: 97%;
	color: #fff;
	padding: 3px;
}

/* @end */

/* @group Footer Elements */
div#footer {
	background: #333;
}
div#footerwrapper {
	width: 960px;
	margin: 0 auto;
	/*border: 1px solid #ccc;*/
	background: #fff;
}

/* @end */