body{
	background-color: #efefef;
	/*color: #d3cccc;*/
}

div#header {
	/*background: url(ng/anagrammap.png) top left no-repeat;*/
}

#lb-content{
	border-left: 1px solid #d3cccc;
	background-color: #fff;
}

#header h1, #header p.blogtitle{
	margin: 0 auto;
	font-size: 3em;
	font-weight: bold;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	height: 75px;
}

#header h1 a:link, #header h1 a:visited, #header p.blogtitle a:link, #header p.blogtitle a:visited {
	color: #02af97;
	text-decoration: none;
}


#blogtitle{
	/*background-color: #000;*/
	width: 50%;
}

#menu {
	border-color: #d3cccc;
	border-style: solid;
	border-width: 1px 1px 0 1px;
	background-color: #fff;
		
}

#menu > ul > li > a:link, #menu > ul > li > a:visited{
	background: #333;
	padding: 5px 10px;
	color: #02b39a;
	text-decoration: none;
}
.startTranslucent {
	background:rgb(0,0,0);
	background:rgba(0,0,0,0.5);
	-ms-filter:alpha(opacity=50);
	filter:alpha(opacity=50)
}

.stopTranslucent{
	position: relative;
}

#primarysb > ul > li, #secondarysb > ul > li{
	border: 3px solid #eee;
	padding: 4px;
	margin:4px;
}

#primarysb h4, #secondarysb h4 {
	background-color: #333;
	width: 97%;
	color: #fff;
	padding: 3px;
}