/* @group Top-Level Elements */

html,body{margin:0;padding:0}

body {
	color: #111;
	/*background: url('ojc/ojc-smaller.jpg') #1a1c1d top left no-repeat;*/
	background: #1a1c1d; /*url(ojg/balloon-size.jpg) top left no-repeat;*/
}

div#allwrapper{
	width: 927px;
	overflow: auto;
	margin: 0 auto;
	background: #fff;
}

div#bigbar{
	float: left;
	margin-left: -300px;
	width: 300px;
	display: block;	
}

/* @group Sidebar Elements */



/* @end */

div#container{
	background: #fff url(ojg/bg-gradient.png) repeat-x scroll 0 -4em;
	width: 100%;
}

div#content{
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 300px;
}

div#footer{
	background: #1a1c1d;
	border-top: 3px solid #a3afb6;
}

div#footerwrapper{
	width: 927px;
	margin: 0 auto;
	color: #fff;
}

div#header{ 
	color: #555;
	height: auto;
	border-bottom: 3px solid #a3afb6;
	overflow: hidden;
	background-color: #1a1c1d;
}

div#menuwrap{
	width: 100%;
	height: 2.5em;
	background-color: #ccc;
	border-bottom: 1px solid #1a1c1d;
}

#footerright {
	overflow: hidden;
}



/* @end */

/* @group Header Elements */

#header a:link, #header a:visited{
	text-decoration: none;
	color: #fff;
}

#header a:active, #header a:hover{
	text-decoration: underline;
	color: #fff;
}

#header .description{
	display: none;
}

span#blogtitle {
	color: #fff;
}

#header h1{
	margin: 0 auto;
	font-size: 4em;
	font-weight: bold;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	width: 843px;
	background: url(ojg/blimpsmall2.png) no-repeat 0 center;
	height: 75px;
	padding: 20px 0 20px 84px;
}

/* @end */

/* @group Menu Elements */

ul#menu{
	background: transparent;
	margin: 0 auto;
	width: 927px;
	float: none;
}

#menu a:link, #menu a:visited{
	padding-left: 1em;
	padding-right: 1em;
	background: #ccc;
	color: #1a1c1d;
	font-weight: bold;
	border-right: 1px solid #1a1c1d;
	display: block;
	float: left;
	line-height: 2.5em;
}

#menu li.current_page_item a:link, #menu li.current_page_item a:visited {
	background: #1a1c1d url(ojg/menugrad.png) repeat-x scroll 0 bottom;
	border-top: 3px solid #1a1c1d;
	margin-top: -3px;
	color: #fff;
}

#menu li.current_page_item a:active, #menu li.current_page_item a:hover {
	color: #d98841;
	border-bottom: 0px;
	margin-bottom: 0px;
}

#menu a:active, #menu a:hover{
	background: #fff;
	color: #d98841;
	margin-bottom: -3px;
	border-bottom: 3px solid #fff;
	margin-top: -3px;
	border-top: 3px solid #fff;
	text-decoration: none;
}

#menu li:first-child a {
	margin-left: 0px;
	border-left: 1px solid #1a1c1d;
}

/* @end */

/* @group Post Elements */

.asides{
	margin-top: 15px;
	border-left: 2px solid #ccc;
	padding-left: 10px;
	font-size: 12px;
}

.asides p{
	display: inline;
}

.wppost h3, h3.archives {
	font-size: 2.5em;
}

.asides h3{
	float: left;
	margin: 0px;
	color: #111;
	margin-right: 4px;
	font-size: 12px;
	font-weight: bold;
}

.wppost{
}

.wppost blockquote{
	background-color: #f5f5f5;
	border-left: 2px solid #0971B3;
	padding: 5px;
	padding-left: 10px;
}



/* @end */

a{
	text-decoration: none;
	color: #d98841;
}

a:active, a:hover{
	text-decoration: underline;
}

#s {
	width: 95%;
}

#footertabs{
	text-align: left;
}

#footertabs > div{
	border: 1px solid #1a1c1d;
}

/* @group Kwicks Styles */

/*#menu.kwicks {  
    list-style: none;  
    position: relative;  
    margin: 0;  
    padding: 0;  
}  

#menu.kwicks li{  
    display: block;  
    overflow: hidden;  
    padding: 0;  
    cursor: pointer;  
}

#menu.kwicks li {  
     float: left;  
     width: 115px;  
     height: 2.5em;  
     margin-right: 5px;  
}*/

/* @end */  
