html,body{margin:0;padding:0}

body {
	color: #111;
	/*background: url('ojc/ojc-smaller.jpg') #1a1c1d top left no-repeat;*/
	background: #1a1c1d; /*url(ojg/balloon-size.jpg) top left no-repeat;*/
}

a{
	text-decoration: none;
	color: #d98841;
}

a:active, a:hover{
	text-decoration: underline;
}

div#container{
	background: #fff;
	width: 100%;
}

div#allwrapper{
	width: 927px;
	overflow: auto;
	margin: 0 auto;
	background: #fff;
}

div#footer{
	background: #1a1c1d;
}

div#footerwrapper{
	width: 927px;
	margin: 0 auto;
	color: #fff;
}

#header h1{
	margin: 0 auto;
	font-size: 4em;
	font-weight: bold;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	width: 927px;
}

#header .description{
	display: none;
}

#header{
	background: #1a1c1d; 
	color: #fff;
	height: 6em;
	border-bottom: 4px solid #ccc;
}

#header a:link, #header a:visited{
	text-decoration: none;
	color: #fff;
}

#header a:active, #header a:hover{
	text-decoration: underline;
	color: #fff;
}

ul#menu{
	/*border-bottom: 1px solid #000;*/
	background: transparent;
	margin: 0 auto;
	overflow: hidden;
	width: 927px;
	float: none;
}

#menu a:link, #menu a:visited{
	margin-right: 5px;
	padding: 10px 10px 4px 10px;
	background: #ccc;
	color: #1a1c1d;
	font-weight: bold;
	font-size: 123.1%;
	border-right: 5px solid #1a1c1d;
}

#menu li.current_page_item a:link, #menu li.current_page_item a:visited, #menu a:active, #menu a:hover{
	background: #fff;
	color: #d98841;
	border-right: 5px solid #d98841;
	text-decoration: none;
}

div#content{
	padding-left: 20px;
	margin-right: 175px;
}

.wppost h3, h3.archives {
	font-size: 182%;
}

.wppost blockquote{
	background-color: #f5f5f5;
	border-left: 2px solid #0971B3;
	padding: 5px;
	padding-left: 10px;
}

.wppost{
	border-bottom: 1px solid #ccc;
}

#footertabs{
	text-align: left;
}

#footertabs > div{
	border: 1px solid #1a1c1d;
}
