/*
	StyleName: Wearing Ire, Gall
	StyleAuthor: Doug Stewart
	StyleAuthorURL: http://literalbarrage.org/blog/
	StyleDescription: Looks a bit like a famous Machead's site.
	Version: 1
*/
body {
	font-family: Verdana, "Bitstream Vera Sans", sans-serif;
	background-color: #4a525a;
	color: #fff;
}

#menu {
	text-align: right;
}
a {
	text-decoration: none;
}

#header h1, #header p{
	display: none;
}

#header {
	background: url("../includes/titleimage.php?text=Literal%20Barrage") left no-repeat;
}

a:link {
	text-decoration: none;
	color: #ddd;
	border-color: #888;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
	padding: 3px 0px 2px 0px;
	background-color: inherit;
}

a:visited {
	color: #ddd;
	border-color: #999;
	border-width: 0 0 1px 0;
	border-style: none none dotted none;
	padding: 3px 0px 2px 0px;
	background-color: inherit;
}

a:hover {
	color: white;
	text-decoration: none;
	background-color: #606870;
	border-color: #606870;
}

ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

#navigation ul, #extra ul {
	text-align: right;
}

div.itemtext {
	padding-left: 2em;
}