body {
	font-family: Verdana, "Bitstream Vera Sans", sans-serif;
	background-color: #4a525a;
	color: #fff;
}

a {
	text-decoration: none;
}

a:link {
	text-decoration: none;
	color: #ddd;
	border-color: #888;
	border-width: 0 0 1px 0;
	border-style: none none solid none;
	padding: 3px 0px 2px 0px;
	background-color: inherit;
}

a:visited {
	color: #ddd;
	border-color: #999;
	border-width: 0 0 1px 0;
	border-style: none none dotted none;
	padding: 3px 0px 2px 0px;
	background-color: inherit;
}

a:hover {
	color: white;
	text-decoration: none;
	background-color: #606870;
	border-color: #606870;
}